body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.nav-pan {
  background-color: whitesmoke;
  border-bottom: 3px solid black;
  border-right: 3px solid grey;
  height: 250px;
  width: 100%;
  overflow-y: scroll;
}

#js-documentation{
  text-align: center;
  font-weight: bolder;
  font-size: 4vh;
  position: sticky;
  top: 0;
  background-color: whitesmoke;
  padding: 10px;
  margin: auto;
}

.nav-link {
  display: block;
  text-decoration: none;
  color: rgb(62, 60, 60);
  border-top: 1px solid grey;
  padding: 6px 0 6px 20px;
  font-size: x-large;
}

.nav-link:hover{
  background-color: rgb(62, 60, 60);
  color: white;
}

.main-section{
  width: fit-content;
  padding: 20px;
  text-align: justify;
}

@media (min-width: 600px) {
  .nav-pan {
    height: 100vh;
    width: 350px;
    position: fixed;
    overflow-y: hidden;
    padding: 4px 5px;
  }
  #js-documentation {
    position: relative;
    width: fit-content;
  }
  .main-section{
    margin-left: 360px;
  }
}

header{
  font-weight: bolder;
  font-size: 4vh;
}

code{
  display: block;
  background-color: azure;
  padding: 20px;
  margin: 10px;
}